<% include partials/header %>

<h1>Ah oh, classic 404 error...</h1>
<h1>Page is in construction, or maybe do not even exist...</h1>

<a href = "/">Back to Home page</a>

<% include partials/footer %>