.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0px;
}

/*to chose two consective class, use space in between*/
.thumbnail .caption-full {
	padding: 9px;
}

#delete-form {
	display: inline;
}
